@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@300;400;500&display=swap');

@keyframes BodyColorChange {
    from{
        background-image: linear-gradient(to right, #0e0e44, #171955, #1f2466, #272f78, #2f3b8b, #294fa1, #1d63b6, #0077ca, #0097df, #00b6ec, #00d3f3, #50f0f6);
    }
    to{
        background-image: linear-gradient(to right, #119d5d, #22a964, #30b56a, #3dc171, #49cd77, #4fd577, #57dc77, #5ee477, #63e96f, #6aed66, #71f25c, #7af650);
    }
}

body{
    background-image: linear-gradient(to right, #0e0e44, #171955, #1f2466, #272f78, #2f3b8b, #294fa1, #1d63b6, #0077ca, #0097df, #00b6ec, #00d3f3, #50f0f6);
}

.flexer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.alert{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto Slab', serif;
    padding-bottom: 0;
}

.panel{
    box-shadow: 0 0 0.1em white; 
    background-color: white;
    border: 2px solid #FFF; 
    border-radius: 3rem;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 5rem; 
    margin-left: 1.5rem;
    width: 85%;
}

.panel-heading{
    font-family: 'Montserrat', serif;
}

.panel-body{
    font-family: 'Montserrat', serif;
}

.form-control{
    color: rgba(0, 0, 0, 0.87);
    box-shadow: none !important;
    border: none;
    border-bottom: 1px solid;
    border-bottom-color: rgba(0, 0, 0, 0.42);
    border-radius: 4px 4px 0 0;
}

.btn-submit{
    background-image: linear-gradient(to right, #0e0e44, #171955, #1f2466, #272f78, #2f3b8b, #294fa1, #1d63b6, #0077ca, #0097df, #00b6ec, #00d3f3, #50f0f6);
    color: white;
    width: 100%;
    border: none; 
    border-radius: 3rem;
}

.btn-submit:hover{
    background-image: linear-gradient(to right, #119d5d, #22a964, #30b56a, #3dc171, #49cd77, #4fd577, #57dc77, #5ee477, #63e96f, #6aed66, #71f25c, #7af650);
    color: black;
}

.btn-home{
    height: 4rem;
    width: 4rem;
    color: black;
    font-size: 1.5rem;
    border: none;
    border-radius: 50%;
}

#div-home{
    position: absolute;
    top: 45%;
    left: 2%;
}

#eye-icon{
    position: absolute;
    left: 60%;
}

#passwordHelper{
    color: gray;
    text-decoration: underline;
}


.modal-content{
    font-family: 'Montserrat', serif;
    border-radius: 1rem;
}

.btn-modal-submit{
    background-image: linear-gradient(45deg, #0e0e44, #171955, #1f2466, #272f78, #2f3b8b, #294fa1, #1d63b6, #0077ca, #0097df, #00b6ec, #00d3f3, #50f0f6);
    color: white;
    width: 80%;
    border: none; 
    border-radius: 3rem;
}

.btn-modal-submit:hover{
    color: white;
    font-weight: 500;
    font-style: bold;
}