@import url("https://fonts.googleapis.com/css?family=Montserrat:500");

.paginationNav {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0.9rem;
}

.limitSelect {
  width: auto;
  margin: 0;
}

.limitSelectForm {
  margin-bottom: 2rem;
}

.searchbar {
  position: absolute;
  right: 1rem;
}

.btn-add-supplier {
  position: absolute;
  right: 43%;
}

.btn-view-payments {
  position: absolute;
  right: 33%;
  display: flex;
  align-items: center;
}

.btn-view-payments-link {
  text-decoration: none;
  color: white;
}

.btn-view-payments-link:hover {
  color: black;
}

.btn-success:hover {
  color: black;
}

.TitleTxt {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

table {
  table-layout: auto;
}

td,
th {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#Action {
  width: 5%;
}
